@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.book-hint.success{
    border-left-color: green;
    background-color: rgba(green, 0.1);
}